<form action="/examples/upload" method="post"
    enctype="multipart/form-data"> <!-- NEED enctype to upload file -->

    <h1>{{title}}</h1>
    <div>
        <label for="file1id">File 1:</label>
        <input type="file" class="form-control"
        id="file1id" name="filetag1" multiple />
    </div>
    <div>
        <label for="file2id">File 2:</label>
        <input type="file" class="form-control"
        id="file2id" name="filetag2" multiple />
    </div>
    <button class="btn-primary" type="submit">UPLOAD</button>
</form>
{{#if isSubmitted}}
    <div class="card p-2">
        <h2>Display some file info</h2>
        <p>Original Name of second file:  {{OgName}} </p>
    </div>
    <div class="cards p-2">
        <!-- fun exercise -->
        <h1>Loop through file info object of first upload</h1>
        {{#each firstFileInfo}}
            <p>{{@key}}: {{this}}</p>
        {{/each}}
        <img src="/images/{{firstFileInfo.filename}}"/>
    </div>
    <div class="cards p-2">
        <!-- fun excercise display the images that just got uploaded -->
        <h1>Updated Images</h1>
        {{#each}}
            {{#each}}
                <img src="/images/{{}}" />
                {{/each}}
            {{/each}}

    </div>
{{/if}}